################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs/PPPP_0329/v17/ipch/AutoPCH/abdb26c049594cd2/MAIN.ipch
/.vs/PPPP_0329/v17/Solution.VC.db
